# Copy this file to .env and fill in values
EMAIL_HOST_USER=youremail@gmail.com
EMAIL_HOST_PASSWORD=YOUR_16_CHAR_APP_PASSWORD
DEFAULT_FROM_EMAIL=youremail@gmail.com
# Optional: to use console backend for local dev set:
# EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True

# eSewa ePay (TEST defaults)
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_FORM_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_STATUS_CHECK_URL=https://rc.esewa.com.np/api/epay/transaction/status/
ESEWA_PENDING_TTL_SECONDS=1800

# Frontend app base used for payment callback URLs
FRONTEND_BASE_URL=http://localhost:5173
